[defaults]
inventory=inventory.ini
editor=vim
interpreter_python=auto_silent
stdout_callback=community.general.diy
deprecation_warnings=False
verbosity=0

[privilege_escalation]
become_ask_pass=False
