[defaults]
inventory=inventory.ini
editor=vim
interpreter_python=auto_silent
#stdout_callback=json
stdout_callback=community.general.diy
deprecation_warnings=False

[privilege_escalation]
become_ask_pass=False

#[callback_diy]
#on_any_msg={% for k, v in ansible_callback_diy.items() %}{{ k }}: {{ v }}{% endfor %}
